<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
</head>

<body>
    <div class="container-fluid mt-3 no-print" style="width:100%">
        <div class="d-flex justify-content-between">
            <div class="justify-content-start">
                <input id="search-outlet" type="search" class="form-control mb-2" style="width:500px" autocomplete="off"
                    onchange="return detail_outlet(value)">
                <div class="row mb-2">
                    <div class="col-10">
                        <input id="add-produk" type="search" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-1">
                        <button class="btn btn-primary" onclick="return add_produk()">+</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <input id="add-produk-paket-search" type="search" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-2">
                        <input id="add-produk-paket-value" type="search" class="form-control" autocomplete="off"
                            placeholder="Value" oninput='javascript: if (this.value > 3) this.value = 3'>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-primary" onclick="return add_produk_paket()">+</button>
                    </div>
                </div>
            </div>
            <!-- <div class="justify-content-end">
                <button class="btn btn-secondary" onclick="window.print()">PRINT</button>
            </div> -->
        </div>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray;">
    </div>
    <h1>Test</h1>
    <h1>Real-Time Input</h1>
    <form id="myForm">
        <label for="inputField">Input:</label>
        <input type="text" id="inputField" name="input">
        <button type="button" onclick="submitForm()">Submit</button>
    </form>

    <div id="output"></div>



</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<script>
    console.log("asdad");
    var customersId = [];
    "{{ range .customer }}"
    customersId.push("{{ .CustId}}|{{.CustName}}")
    "{{ end }}"
    console.log(customersId);
    const autoCompleteJS = new autoComplete({
        selector: "#search-outlet",
        placeHolder: "Search Outlet...",
        data: {
            src: customersId,
            cache: true,
        },
        resultsList: {
            element: (list, data) => {
                if (!data.results.length) {
                    // Create "No Results" message element
                    const message = document.createElement("div");
                    // Add class to the created element
                    message.setAttribute("class", "no_result");
                    // Add message text content
                    message.innerHTML = `<span>Found No Results for "${data.query}"`;
                    // Append message element to the results list
                    list.prepend(message);
                }
            },
            noResults: true,
        },
        resultItem: {
            highlight: true
        },
        events: {
            input: {
                selection: (event) => {
                    const selection = event.detail.selection.value;
                    autoCompleteJS.input.value = selection;
                }
            }
        }
    });
</script>
<script>
    function submitForm() {
        // Get the form data
        var formData = new FormData(document.getElementById("myForm"));

        // Make a POST request to the server
        fetch("/update", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById("output").innerText = data.message;
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }
</script>